@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url('/bg4.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.white-force {
  color: white !important;
}

.white-force {
  color: white !important;
}

.white-force, .white-force * {
  color: white !important;
}
a {
  color: white !important;
  text-decoration: none !important;
}
